html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 1.5rem;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  align-content: center;
  margin: 1.5em;
}

main {
  align-content: center;
  display: inline;
}

section {
  text-align: center;
}

section div {
  max-width: 25em;
  padding: 1em 2em .4em;
  margin: 1.5em;
  vertical-align: middle;
  text-align: center;
}

div {
  text-align: left;
}

div figure {
  margin: 0;
  text-align: left;
}

div img {
  display: block;
  width: 100%;
  text-align: left;
}

div h2 {
  display: inline;
  font-family: Lato, sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}

div p {
  display: inline-block;
  text-align: left;
  font-family: Lato, sans-serif;
  color: #333;
}

div .btn {
  display: inline-block;
  font-family: Lato, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  padding: .6em .5em .75em;
  border: 4px solid #666;
  line-height: 1.5;
  color: #000;
  border-radius: 10px;
  max-width: 25em;
}
